name: Run test on push

on:
    push:

permissions:
    contents: read

jobs:
    run-test:
        uses: ./.github/workflows/test-coverage.yml
        secrets:
            CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
